body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #343A40;
}

/* Header */

.header {
    color: #E9ECEF;
    text-align: center;
    padding: 50px;
    font-size: 5rem;
}

/* Main Content */
.main-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 200px;
}


.grid-container {
    width: 600px;
    height: 600px;
    display: grid;
}

.grid-box {
    background-color: white;
    border: 1px solid black;
}

/* Side bar with features affecting the grid */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CED4DA;
    width: 300px;
    height: 600px;
    gap: 10px;
}

#colorPicker {
    height: 50px;
    width: 50px;
}

#colorButton {
    background-color: #212121;
    color:#E9ECEF
}

.buttonSection {
    margin-top: 50px;
    gap: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebarButtons {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: #E9ECEF;
    color: #212121;
    font-size: 1rem;
    transition-duration: 300ms;
}

.showRange {
    text-align: center;
    color: #DEE2E6;
    font-size: 2rem;
    padding: 3px;
}

button:hover {
    transform: scale(1.1)
}


#myRange:hover {
    cursor: pointer;
}


/* Footer */
.footer {
    padding: 25px;
    color: #E9ECEF;
    position: sticky;
    top: 100%;
    text-align: center;
}